<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech thoughts</title>
    <%- include('../base/header_script.html') %>
    <%- include('../base/style.html') %>
</head>
<%- include('../base/gtag.html') %>
<body>
    <%- include('../base/header.html') %>
    <main>
        <h1>About</h1>
        <p>
            I'm a software engineer from Brazil, having worked in many different industry backgrounds, within
            small companies, to large enterprises.
        </p>
        <p>
            If you want to see more of my work:
        </p>
        <a href="https://www.linkedin.com/in/drguedes/">Linkedin</a>
        <a href="https://github.com/dgramaciotti">Github</a>
    </main>
    <%- include('../base/footer.html')  %>
</body>
</html>